@import "mocha.css";
* {
  border: none;
  border-radius: 0;
  font-family: SymbolsNerdFont, JetBrainsMono, sans-serif; min-height: 0;
  font-size: 14px;
}

window#waybar {
  background-color: @mantle;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: @base;
  color: @text;
}

#workspaces button.active {
  color: @base;
  background-color: @text;
}

#workspaces button.focused {
 color: @crust;
  background-color: @lavender;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @base;
  background-color: @text;
}

#workspaces button.urgent {
  background-color: @red;
}

#custom-player-icon,
#custom-player-volume,
#custom-player-info,
#custom-player-prev,
#custom-player-play-pause,
#custom-player-next,
#window,
#custom-power,
#custom-notifications-toggle,
#pulseaudio,
#backlight,
#memory,
#cpu,
#network,
#bluetooth,
#battery,
#temperature,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 6px;
  background-color: @base;
  color: @mantle;
}

#custom-player-icon{
	background-color: @blue;
}
#custom-player-volume{
	background-color: @maroon;
}
#custom-player-info{
	background-color: @sapphire;
}
#custom-player-prev{
	background-color: @blue;
}
#custom-player-play-pause{
	background-color: @mauve;
}
#custom-player-next{
	background-color: @blue;
}

#window{
	background-color: @mauve;
}

window#waybar.empty #window {
 background:none;
}

#custom-power {
  background-color:@teal ;
}

#custom-notifications-toggle{
	background-color:@lavender;
}

#pulseaudio {
  background-color:@mauve ;
}

#backlight {
  background-color:@green ;
}

#memory {
  background-color:@rosewater ;
}

#cpu {
  background-color:@pink ;
}

#network {
  background-color:@sky ;
}

#bluetooth {
  background-color:@blue;
}

#bluetooth-disabled {
  background-color:@mantle;
}

#battery {
  background-color:@peach ;
}

#temperature {
 background-color:@maroon ;
}


#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @red;
  color: @yellow;
}

#battery.charging {
  background-color:@green ;
}

#clock {
  background-color:@mauve ;
}

#tray {
 background-color:@green ;
}
